@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<h2>Our Goal</h2>
<p>Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy.</p>

<h2>Our Histroy</h2>
<p> Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy.</p>

<h2>Meet the team</h2>
<p>Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy. Use this page to detail your site's privacy policy.</p>
